.profile {
    margin: 0;
    padding: 0 0 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    max-width: 1280px;
}

.profile__title {
    margin: 74px auto 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.profile__form {
    margin: 123px auto 0;
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__label {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    cursor: pointer;
}

.profile__error-text {
    margin: 6px 0 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ff4062;
    max-width: 396px;
}

.profile__input {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    cursor: pointer;
    text-align: right;
    border: 0;
}

.profile__input:focus {
    background-color: #F3C1F8;
}

.profile__line {
    margin: 16px 0 17px;
    padding: 0;
    width: 100%;
    border-color: #e8e8e8;
}

.profile__buttons {
    margin: 220px auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.profile__button {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

.profile__button_exit {
    color: #ff4062;
}