.portfolio {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    margin: 0 0 0 70px;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #a0a0a0;
}

.portfolio__links {
    margin: 50px 70px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.portfolio__item {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 19px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.portfolio__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.portfolio__link {
    display: block;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    color: #000;
    text-decoration: none;
    background-image: url("../../images/portfolio_arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

.portfolio__link:hover {
    animation: showShadow .5s linear forwards;
}

@keyframes showShadow {
    0% {
        opacity: 1;
    }
    100% {
        background-color: #F3C1F8;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio__title {
        margin: 0 0 0 50px;
    }

    .portfolio__links {
        margin: 50px 50px 0;
    }

    .portfolio__link {;
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .portfolio__title {
        margin: 0 0 0 14px;
        font-size: 14px;
    }

    .portfolio__links {
        margin: 40px 14px 0;
    }

    .portfolio__link {;
        font-size: 18px;
        line-height: 28px;
    }
}


